.btn {
    position: relative;
    font-family: $ff-extra-bold, sans-serif;
    appearance: none;
    outline: none;
    padding: 10px 30px;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.2s ease;
    min-width: 175px;
    border-radius: 10px;

    &.btn {
        &__primary {
            color: $white;
            border: 3px solid $yellow;

            &:hover {
                background-color: $white;
                color: $black;
                transform: translateX(3px);
                transition: 0.3s ease;
            }
        }

        &__secondary {
            color: $black;
            border: 3px solid $yellow;

            &:hover {
                color: $yellow;
                transform: translateX(3px);
                transition: 0.3s ease;
            }
        }
    }
}