@font-face {
    font-family: $ff-styled;
    src: url('{{ "Font-Pacifico-Regular.ttf" | asset_url }}') format("truetype");
}

@font-face {
    font-family: $ff-extra-light;
    src: url('{{ "Font-Nunito-ExtraLight.ttf" | asset_url }}') format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: $ff-regular;
    src: url('{{ "Font-Nunito-Regular.ttf" | asset_url }}') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: $ff-semi-bold;
    src: url('{{ "Font-Nunito-SemiBold.ttf" | asset_url }}') format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: $ff-extra-bold;
    src: url('{{ "Font-Nunito-ExtraBold.ttf" | asset_url }}') format("truetype");
    font-weight: 800;
}



h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    font-family: $ff-regular, sans-serif;
    color: $black;
}

p {
    letter-spacing: 1.5px;
    margin-bottom: 30px;
}

h1 {
    position: relative;
    font-size: $fs-1;
    font-family: $ff-semi-bold;

    &:after {
        position: absolute;
        content: "";
        bottom: -5px;
        left: 0;
        width: 120px;
        height: 3px;
        background-color: $yellow;
    }
}

h2 {
    position: relative;
    font-size: $fs-3;
    font-family: $ff-semi-bold;
    margin-bottom: 36px;
    letter-spacing: 1px;

    &:after {
        position: absolute;
        content: "";
        bottom: -5px;
        left: 0;
        width: 100px;
        height: 3px;
        background-color: $yellow;
    }
}

h3 {
    margin-bottom: 10px;
}

ul {
    >li {
        >a {
            font-family: $ff-semi-bold, sans-serif;
        }
    }
}