$white:#FFFFFF;
$yellow:#f8da6a;
$grey: #717171;
$dark-grey: #3e3e3e;
$black: #212121;
$fs-1:40px;
$fs-2:36px;
$fs-3:32px;
$fs-4:24px;
$fs-5:20px;
$full-width:1270px;
$ff-styled: "Pacifico-Regular";
$ff-extra-light: "Nunito-ExtraLight";
$ff-regular: "Nunito-Regular";
$ff-semi-bold: "Nunito-SemiBold";
$ff-extra-bold: "Nunito-ExtraBold";