{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<section class="product-images">
    <div class="product-images__inner">
        <div class="product-images__bg"></div>
        <div class="product-images__content">
            {% for image in product.images %}
            <div class="product-images__product">
                <div class="product-images__image">
                    <img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
