.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    border-bottom: 3px solid $yellow;
    min-height: 70px;

    &__inner {
        color: $white;
        font-size: 18px;

        span {
            color: $white;

            &.logo {
                font-family: $ff-styled, sans-serif;
            }
        }
    }
}