.hero {
    position: relative;
    height: 80vh;

    &__bg {
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    &__mask {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $yellow;
        opacity: 0.1;
    }

    &__btn {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
    }

    &__header {
        position: absolute;
        top: 30%;
        right: 5%;
        transform: translateY(-50%);
        padding: 0 30px;
        max-width: 410px;

        >h1 {
            color: $white;
            margin-bottom: 24px;
        }

        >p {
            color: $white;
            text-align: right;
            font-size: 18px;
        }
    }
}