.new-product {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;

    &:before,
    &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        display: block;
        width: 3px;
        height: 40%;
        background-color: var(--yellow);
    }

    &:after {
        top: initial;
        right: 0;
        bottom: 0;
        left: initial;
    }

    &__left {
        text-align: center;
        padding: 0 15px 15px 15px;
    }

    &__right {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
    }

    &__description {
        margin-top: auto;
        margin-bottom: 20px;
    }

    &__price {
        span {
            font-family: "Nunito-SemiBold";
            font-size: 30px;
        }
    }

    @media(min-width:768px) {
        &__inner {
            display: flex;
        }

        &__left {
            width: 60%;
            text-align: center;
            padding: 0 30px;
        }

        &__right {
            display: flex;
            flex-direction: column;
            width: 40%;
            padding: 0 30px;
        }
    }
}